<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div class="container">
  <main>
    <section class="output-section">
      <div id="app">
        <template v-for="(api, index) in apis" :key="index">
          <h2>{{api.module}}-{{api.func}}</h2>
          <p><strong>Summary:</strong> {{api.summary}}</p>
          <p><strong>Method:</strong> {{api.method}}</p>
          <p><strong>Path:</strong> {{api.path}}</p>
          <p><strong>ContentType:</strong> {{api.dataType}}</p>
          <h3>Parameters:</h3>
          <ul>
            <pre>{{JSON.stringify(api.paramsModel, null, 2) || '---'}}</pre>
          </ul>
          <h3>Response:</h3>
          <ul>
            <pre>{{JSON.stringify(api.resultModel, null, 2) || '---'}}</pre>
          </ul>
        </template>
      </div>
    </section>
  </main>
</div>
<script>
  const { createApp } = window.Vue

  createApp({
    setup() {
      return { apis: {JSON} }
    }
  }).mount('#app')

</script>
</body>
</html>
